.sass-cache
.DS_Store
.thumbsdb
.svn
npm-debug.log
node_modules
npm-debug.log
bower_components
.htaccess

# Ignore for rooting at /wp-content/
/uploads
/upgrade
/debug.log
/vendor
/db.php
/object-cache.php
/index.php

# IDEs
.idea
.vscode

# All plugins aside from specific allowlist.
plugins/*
!plugins/pico

# All mu-plugins aside from specific allowlist.
mu-plugins/*
!mu-plugins/wp-irving

# All themes aside from specific allowlist.
themes/*
!themes/irving-example-theme
