.sass-cache
.DS_Store
.thumbsdb
.svn
npm-debug.log
node_modules
npm-debug.log
bower_components
.htaccess

# Ignore for rooting at /wp-content/
/uploads
/upgrade
/debug.log
/vendor
/db.php
/object-cache.php

# IDEs
.idea
.vscode

# All plugins aside from specific allowlist
plugins/*
!plugins/gutenberg
!plugins/jetpack
!plugins/jwt-auth
!plugins/meta-inspector
!plugins/pantheon-advanced-page-cache
!plugins/query-monitor
!plugins/wordpress-fieldmanager
!plugins/wp-redis
!plugins/wordpress-seo
