[submodule "mu-plugins/wordpress-fieldmanager"]
	path = mu-plugins/wordpress-fieldmanager
	url = https://github.com/alleyinteractive/wordpress-fieldmanager
[submodule "plugins/wp-irving-something/plugins/wp-irving"]
	path = plugins/wp-irving-something/plugins/wp-irving
	url = git@github.com:alleyinteractive/wp-irving.git
