[submodule "mu-plugins/wp-irving"]
	path = mu-plugins/wp-irving
	url = https://github.com/alleyinteractive/wp-irving
[submodule "mu-plugins/wordpress-fieldmanager"]
	path = mu-plugins/wordpress-fieldmanager
	url = https://github.com/alleyinteractive/wordpress-fieldmanager.git
[submodule "themes/irving-example-theme"]
	path = themes/irving-example-theme
	url = https://github.com/alleyinteractive/irving-example-theme.git
[submodule "plugins/pico"]
	path = plugins/pico
	url = https://github.com/alleyinteractive/pico
