{
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-assign",
    ["module-resolver", {
      "root": ["./client/src"],
      "alias": {
        "components": "./components",
        "images": "./images",
        "scss": "./scss",
        "js": "./js",
      }
    }]
  ],
  "presets": [
    "env"
  ]
}
