/* CSS for the post sync button*/

.alleypack-spinner {
  background: url('/wp-admin/images/wpspin_light.gif') no-repeat;
  background-size: 16px 16px;
  float: right;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
