$bp-values: (
  xl: 1280,
  l: 1024,
  m: 768,
  s: 512,
);

$bp-xl: rem(map-get($bp-values, xl));
$bp-l: rem(map-get($bp-values, l));
$bp-m: rem(map-get($bp-values, m));
$bp-s: rem(map-get($bp-values, s));

$bp-header: rem(960);
